/* 공통 */
span {
    margin-top : 0.3rem;
}

input, select {
    font-size: 0.8rem;
}

input:focus,select:focus{ 
    outline: none !important;
    border-color: #2cb400;
}

input,select,.tag_div {
    height: 3.3rem;
    border: solid 1px #dadada;
    padding: 0.5rem;
    background: #fff;
}

input[type=checkbox] {
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /*Opera*/
    margin-left: 0.3rem;
    width: 1rem;
    height: 1rem;
    padding: 0rem;
}

::placeholder { 
    color: #8e8e8e;
    opacity: 1;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break:break-all;
}

/* register */
#register {
    position: relative;
    display: none;
    flex-direction: column;
    align-items :center;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    background :#f5f6f7;
}

.register_form {
    width: 460px;
}

.register_form > div{
    display: flex;
    flex-direction: column;
    height: auto;
}

.register_form > div > label {
    font-size: 1rem;
    font-weight: 700;
    margin : 1rem 0 0.5rem;
}

.register_form > .terms {
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.register_form > .green_btn {
    flex-direction: row;
    justify-content: space-between;
}

#register_text {
    color: #2cb400;
    margin-top: 2rem;
}

#register_footer {
    margin: 2rem 0 1rem 0;
    align-self: center;
    font-size: 1rem;
    color: #495057;
}

.text_input > input, .text_input > select {
    width: 100%;
    box-sizing: border-box;
}

.birth_wrap > input, .birth_wrap > select {
    width: 32%;
    box-sizing: border-box;
}

.birth_wrap {
    display: flex;
    justify-content: space-between;
}

.terms > input, .terms > a {
    margin-block-start: 1rem;
    height: 2rem;
}

.terms > a {
    font-size: 0.9rem;
    color: black;
}

#terms_input {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    margin-block-start: 0.4rem;
}

.green_btn > input, .green_btn > button {
    width: 49%;
    height: 4rem;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #2cb400;
    color: white;
}

.red_text {
    font-size: 0.8rem;
    color : red;
}

.green_text {
    font-size: 0.8rem;
    color : #2cb400;
}

.tag {
    border-radius: 0.3rem;
    background-color:#e9ecef;
    border: solid 1px #868e96;
    padding: 0.2rem;
    margin : 0 0.2rem;
    color: #495057;
    font-size: 0.75rem;
    display : inline-block;
    width: max-content;
}

.tag_list {
    display: inline-flex;
}

.tag_div {
    display: inline-flex;
    height: 3.3rem;
    overflow: scroll;
    box-sizing: border-box;
}

.tag_btn {
    margin: 0.1rem;
    border-radius: 50px;
    width: 1.5rem;
    height: 1.5rem;
    background-color:#e9ecef;
    border: solid 1px #868e96;
    color:#495057;
}

#interest_input {
    border: none;
    height: 2rem;
    width: -webkit-fill-available;
}

#reset_btn {
    display: none;
}

/* login */
#login {
    position: relative;
    display: flex;
    margin-top: 20%;
    align-self: center;
    flex-direction: column;
    align-items :center;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

#login_btn_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login_btn_div > button{
    border-radius: 0;
    width: 49%;
    background-color: #2cb400;
}

#login_head {
    color: #2cb400;
    text-align: center;
    margin: 0 0 1rem 0;
}

.form-signin > input {
    border-radius: 0;
    margin-bottom: 0.8rem;
}

.btn-block+.btn-block {
    margin-top: 0;
}

.form-control {
    height: 3rem;
}

.form-signin {
    width: 50%;
    background :#f5f6f7;
    border: solid 1px #dadada;
    padding: 2rem;
}

/* main */
#main {
    display: none;
    position: relative;
    flex-direction: column;
    align-items :center;
}

#main_div > span {
    font-size: 5rem;
    align-self: center;
}

/* layer */
#backgound_div {
    position: fixed;
    background-color: #495057;
    opacity: 0.5;
    left: 0;
    top: 0;
}

#layer_text {
    height: 7rem;
    margin: 1rem 0;
    padding: 0.5rem;;
    overflow:scroll; 
    text-align: initial;
    background-color: white;
    border:  solid 1px #dadada;
    font-size: 0.8rem;
}

.pop_layer {
    padding: 1rem 2rem;
    overflow-y: scroll;
    position: fixed;
    text-align:center;
    z-index:999;
    display:none; 
    width:30rem; 
    height:fit-content;
    background: #f5f6f7;
    border: solid 1px #868e96;
}

#layer_exit_btn {
    width: fit-content;
    padding: 0.3rem;
    right: 0;
    align-self: flex-end;
    border: none;
    background-color: #f5f6f7;
}

.layer_green_btn {
    background-color:  #2cb400;
    padding: 0.5rem 2rem;
    align-self: center;
    color: white;
    border: none;
    margin: 0 0.2rem;
}

#layer_exit_b {
    font-size: 1rem;
}

#layer_head {
    align-self: baseline;
    font-weight: 700;
}