doctype html
head
  style
    include stylesheets/main.css
header
  h2 boostcamp
  button#signout_btn(onclick="location.href='/main/userToGuest'") &#xB85C;&#xADF8;&#xC544;&#xC6C3;
#user_box
  span(id='') Hello! #{name}
